

// --------------------------------------------------------------------------
// 	COMPONENT: MEMBER PROFILE
// --------------------------------------------------------------------------



// Profile block
// --------------------------------------------------------------------------

.c-profileHero {
	
}

.c-profileHero-details {
	flex-basis: 100%;
	text-align: center;
}

.c-profileHero-details img {
	border-radius: 50%;
	height: 140px;
	margin-bottom: space(0.75);
	width: 140px;
}

.c-profileHero-details h1 {
	@include display();
	margin-bottom: space(0.25);
	text-transform: capitalize;
}

.c-profileHero-details p {
	//@include display();
	@include textRg();
	
	@include media-breakpoint-up(lg) {
		margin: 0 auto;
		max-width: 25%;
	}
}

.c-profileHero-details h1,
.c-profileHero-details p {
	color: white;
	text-align: center;
}

.c-profileHero-details hr {
	margin: space(0.75) auto;
	opacity: 0.5;
	
	@include media-breakpoint-up(lg) {
		max-width: 25%;
	}
}

.c-profileHero-details--item {
	@include textRg();
	color: white;
	//text-transform: capitalize;
}

.c-profileHero-details--item + .c-profileHero-details--item {
	margin-top: space(1/6);
}



// Registry block
// --------------------------------------------------------------------------

.c-registries {
	//@include container();
	margin-top: space(3.75);
	
	&:not(:last-child) { 
		padding-bottom: space(4.5); 
	}
}

.c-registries--archived {
	background-color: palette(black-3);
	background: linear-gradient( palette(black-5), palette(white) 50% ); // https://css-tricks.com/css3-gradients/
	margin-top: 0;
	//padding-top: space(3.75);
	//padding-bottom: space(3.75);
}

.c-container-rule {
	@include when-inside(".c-registries--archived") {
		//border-color: palette(black-10);
		//border-color: transparent;
		max-width: 100%;
	}
}

.c-registries-headline {
	@include container(false);
	@include headlineXs();
	//@include textRgBold();
	color: palette('black-50');
}


// Registry cards grid
// --------------------------------------------------------------------------

.c-registryCards {
	@include container();
	margin-top: space(3);
}

.c-registryCards .c-registryCard {
    //flex: 1 0 5em;
    flex: 0 0 240px;
}

.c-registryCard {
	@include textLgBold();
	//height: 360px;
	//margin-top: space(2);
	position: relative;
	
	a {
		text-decoration: none;
	}
	
	// pinterest card hover
	&:before:hover {
		//border: 2px solid black;
		//content: " ";
	}
	
	// grid
	//&:first-child,
	//&:nth-child(3n + 1),
	//&:nth-child(6n + 1) { margin-left: 0; }
	//&:nth-child(-n + 3) { margin-top: 0; }
}

// Pinterest-like card hover

@keyframes tapAnimation {
	0% {
		opacity: 1;
		transform: scale(0.96);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

//.Pin.summary:not(.hideHoverUI) .pinWrapper {
.c-registryCard {
    cursor: zoom-in;
    margin: -10px;
    padding: 10px;
    position: relative;
}

//.Pin.summary:not(.hideHoverUI) .pinWrapper:not(.pinImageWrapperDisableHover):hover::before {
.c-registryCard:hover::before {
    animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
}

//.Pin.summary:not(.hideHoverUI) .pinWrapper::before {
.c-registryCard::before {
    background: rgba(0,0,0,0.05);
    border-radius: 8px;
    content: " " !important;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0.96);
    width: 100%;
    z-index: 3;
}

.c-registryCard--create::before {
    background: rgba( palette(highlight-action), 0.05);
}




// Create registry button
// --------------------------------------------------------------------------

.c-registryCard-createButton {
	align-items: center;
	border: 1px solid palette(highlight-action);
	border-radius: 4px;
	color: palette(highlight-action);
	display: flex;
	height: 100%;
	min-height: 352px;
	//flex-grow: 0 !important;
	text-align: center;

}

.c-registryCard--create > a {
	text-align: center;
	
	span {
		margin-top: 5px;
	}
	
	&:hover {
		color: palette(highlight-action);
		text-decoration: none;
	}
}

// Registry card
// --------------------------------------------------------------------------

.c-registryCard-visual {
	align-items: center;
	display: flex;
	height: 230px;
	position: relative;
	
	@include when-inside(".is-funded") { color: palette(highlight-edit); }

}

.c-registryCard-img {
	@include coverImage();
	@include o-posFullScreen(absolute);
	border-radius: $cardRadius;
	
	@include when-inside(".c-registries--archived") {
		filter: grayscale(1);
		//opacity: 0.1;
	}
}

//.c-registryCard-mask {
//	@include o-posFullScreen(absolute);
//	background-color: rgba( palette(highlight-action-dark), 0.25 );
//	background-blend-mode: multiply;
//	border-radius: $cardRadius;
//	content: " ";
//	opacity: 1;
//}

.c-registryCard-status {
	@include o-posFullScreen(absolute);
	align-items: center;
	border-radius: $cardRadius;
	display: flex;
	flex: 1 1 0%;
	
	&.is-funded { 
		background-color: rgba( palette(highlight-edit), 0.7 );
		background-blend-mode: multiply;
		color: palette(white); 
	}

	&.is-draft { 
		background-color: rgba( palette(highlight-action-dark), 0.7 );
		background-blend-mode: multiply;
		color: palette(white); 
	}
}

.c-registryCard-status-screen {
	@include headlineMdBold();
	color: inherit;
	flex-basis: 100%;
	position: relative;
	text-align: center;

	//@include when-inside(".is-funded") { color: palette(highlight-edit); }
}

.c-registryCard-info {
	padding: 10px space(1/2) space(1/2);
}

.c-registryCard-title {
	@include textLgBold();
	
	@include when-inside(".c-registries--archived") {
		color: palette(black-50);
	}
}

.c-registryCard-date {
	color: palette(black-50);
	//margin-top: 2px;
}

.c-registryCard-editButton {
	//@include textRgBold();
	//background-color: palette(black-10);
	//border-color: palette(black-10);
	//color: palette(black-50);
	//flex-basis: 100%;
	//width: 50%;
	
	@include on-event(true) {
        background-color: palette(black-10);
		border-color: palette(black-10);
		color: palette(black-50);
	}

}


// Vegas hacks
// --------------------------------------------------------------------------

// hack for Vegas Sprint
.c-registryCard-status-signal {
	position: absolute;
	top: space(0.5);
	right: space(0.5);
	
	> img {
		float: right;
		width: 45%;
	}

	//@include when-inside(".is-funded") { color: palette(highlight-edit); }
}

// hack for Vegas Sprint
.c-registryCard-status .c-registryCard-status-signal {
	div,
	span { display: none; }
}
	
.c-registryCard-status.is-draft .c-registryCard-status-signal { 
	img { display: none; }
	
	div,
	span { 
		display: block; 
	}
}
