

// --------------------------------------------------------------------------
//   BLOCKS
// --------------------------------------------------------------------------


// Headline block
// --------------------------------------------------------------------------

.c-block--headline {
    margin-bottom: $headlineSpace * 1.5;
    text-align: center;
}

.c-block--headline--md {
    //@include container( $padded: false, $width: container-width(md) );
    @include container( $width: container-width(md) );
}

.c-block--headline .c-display--hero, 
.c-block--headline .c-text--hero {
    color: palette(white);
    text-align: center;
}

.c-block--headline .c-display,
.c-block--headline .c-display--hero,
.c-block--headline .c-headline {
    //color: palette(brand);
    margin-bottom: space(0.5);
}

.c-block--headline .c-headline {
    color: palette(black-66);
}

.c-block--headline .c-headline--md {
    color: palette(brand);
    font-family: $font-text-medium;
    
    border-bottom: 1px solid currentColor;
    padding-bottom: 6px;
    display: inline-block;
    margin: 0 auto;
}

.c-block--headline .c-text--lg {
    //color: palette(black-40);
    //margin: 0;
    //text-align: center;

    a {
        @include underlineLink();
    }
}




// Highlight block
// --------------------------------------------------------------------------

.c-block--highlight {
    background-color: palette(white);
    //border: 1px solid palette(black-15);
    border-radius: $cardRadius;
    margin: auto;
    padding: 0 $headlineSpace;
    width: 75%;
    
    @include media-breakpoint-up(sm) {
        width: 70%;
    }
}

//.c-block--highlight-button {
//    transform: translateY(-50%);
//    
//    .Button { 
//        background-color: palette(background-light-alt);
//    }
//}




// Newsletter block
// --------------------------------------------------------------------------

.c-block--newsletter {
    //margin-bottom: space(2);
    
    .form-control {
    	@include baseTransition();
        @include typeReset();
        @include textRg();
        border: 1px solid palette('black-20');
    	border-top-left-radius: $buttonRadius;
    	border-bottom-left-radius: $buttonRadius;
        line-height: map-fetch($button-height, base);
    	padding: 0 space(1);

    	@include on-event(true) {
    		outline: none !important;
    	}
        
        @include media-breakpoint-up(sm) {
            width: 50%;
        }
    }
    
    .c-button {
    	border-top-left-radius: 0;
    	border-bottom-left-radius: 0;
        margin-left: -1px;
    }
}
