

// --------------------------------------------------------------------------
//   ICON COMPONENTS
// --------------------------------------------------------------------------


.c-icon--logo {
    fill: palette(text-dark);
	height: 36px;
	width: 95px;
}

.c-icon--profile {
	border: 1px solid palette(text);
	border-radius: 50%;
	fill: palette(text);
	height: 36px;
	width: 36px;
}
