

// --------------------------------------------------------------------------
//   SHARE ASIDE COMPONENT
// --------------------------------------------------------------------------


.c-shareWrapper {
    position: relative;
    height: 100%;
}

.c-share {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}
