

// --------------------------------------------------------------------------
// BOOTSTRAP AFFIX COMPONENT
// --------------------------------------------------------------------------


.affix,
.affix-bottom {
    top: space(2);
    width: 268px;
}

// only affix on larger viewports
.affix {
    @include media-breakpoint-up(sm) {
        position: fixed;
    }
}

.affix-bottom {
    @include media-breakpoint-up(sm) {
        position: absolute;
    }
}
