

// --------------------------------------------------------------------------
// LAYOUT: HEADER
// --------------------------------------------------------------------------


$headerInset: space(1.5);

.Header {
    //background-color: palette(brand-light);
    //background: linear-gradient( palette(brand), palette(brand-light) 100% );
    //border-bottom: 2px solid palette(brand);
    //height: 12vh;
    position: relative;
    
    //@include when-inside(".home") { height: 36vh; }
    
    background-color: palette(white);
    border-bottom: 1px solid palette(black-10);
    //padding: 0 $headerInset;

}

.Header-nav {
    @include listInline();
    position: absolute;
    margin: 0;
    right: space(1);
    top: space(1); 

    li {
        &:not(:last-child) {
			margin-right: space(0.5);
		}
    }

    li a {
        @include underlineLink(none);
        @include on-event(true) {
            color: palette(brand);
        }

    }
}

.Header-logo {
    text-align: center;
    margin-bottom: space(2);

    a {
        background-image: none;
        @include on-event(true) {
            color: palette(brand);
        }
    }
}

.Header3-nav {
    @include o-aligner;
    @include listInline();
    margin: 0;
    right: space(1);
    text-align: right;

    li {
        &:not(:last-child) {
			margin-right: $headerInset;
		}
    }

    li a {
        @include underlineLink(none);
        display: inline-block;
        font-family: $font-text-medium;
        padding: space(1.5) 0;
        
        @include on-event(true) {
            color: palette(text);
        }

    }
}

.Header3-logo {
    @include o-aligner;
    text-align: left;

    a {
        background-image: none;
        @include on-event(true) {
            color: palette(brand);
        }
    }
}

.Header-headline {
    @include display();
    //color: palette(white);
    font-family: $font-text-regular;
    margin-bottom: space(1);
    text-align: center;
}


// Intro block (info + portrait)
// --------------------------------------------------------------------------

//.Header-intro {
//    position: relative;
//    // margin-top: space(-0.5);
//    margin-top: space(0.5);
//}

//.Header-portrait {
//    height: rem(200);
//    margin: 0;
//    overflow: hidden;
//    text-align: right;
//    width: calc(100% + #{space(1)} );
//
//    img {
//        // height: auto;
//        height: rem(240);
//        margin-right: -135px;
//    }
//
//    @include respond-to(ip6) {
//        img {
//            margin-right: -75px;
//        }
//    }
//
//    @include respond-to(xs) {
//        height: auto;
//        overflow: auto;
//        width: 100%;
//
//        img {
//            height: rem(290);
//            margin-right: space(2);
//        }
//    }
//}

//.Header-info {
//    //position: absolute;
//    // left: space(0.75);
//    left: 0;
//    top: space(0.25);
//    width: 58%;
//
//    @include respond-to(sm) {
//        top: space(1);
//        width: 47%;
//    }
//}


// Byline
// --------------------------------------------------------------------------

//.Header-byline {
//    z-index: map-fetch($z-index, 'first');
//    background-color: color(ui, brand);
//    margin-top: -space(1);
//    padding: space(0.75) 0;
//    position: relative;
//
//    .Headline,
//    .Headline span {
//        // color: white !important;
//    }
//
//    .Headline--doubleLine {
//        margin: 0 auto;
//        margin-bottom: 0;
//        // width: 97%;
//
//        @include respond-to(sm) {
//            width: 73%;
//        }
//    }
//
//    h1,
//    p,
//    a {
//        color: white;
//    }
//
//    h1 {
//        margin-bottom: space(1.5);
//    }
//
//    p {
//        @include remFallback(20);
//    }
//
//    a {
//        @include underlineLink($mixin-rule: $linkRuleWhite);
//    }
//
//    @include respond-to(sm) {
//        margin-top: 0;
//    }
//}
