

// --------------------------------------------------------------------------
//   MEMBER SETTINGS COMPONENT
// --------------------------------------------------------------------------


.c-settings {
    
}


// Header
// --------------------------------------------------------------------------

.c-settingsHeader {
    @include containerWindow();
    border-bottom: 1px solid palette(black-10);
    border-top: 1px solid palette(black-10);
    padding-top: space(2.5);
    padding-bottom: space(0.75);
    position: relative;
}

.c-settings-backButton {
    @include button();
    padding-left: 0;
    position: absolute;
    top: space(2.5) - 3px;
    
    @include on-event(true) {
        background-color: transparent;
        border-color: transparent;
        color: palette(black-40);
        font-family: $font-text-medium;
    }
}


// Block
// --------------------------------------------------------------------------

.c-settingsBlock {
    @include containerFrame();
    @include containerWidth( $width: container-width(md) );
    margin-top: space(2);
}

.c-settingsBlock + .c-settingsBlock {
    //margin-top: space(3);
}

.c-settings-header {
    background-color: palette(background-neutral);
    border: 1px solid palette(black-10);
    padding: space(0.5)	space(1);
    
    &.is-published { background-color: palette(highlight-action); border-color: palette(highlight-action); h3 { color: palette(white); } }
    &.is-draft     { background-color: palette(highlight-action-dark); border-color: palette(highlight-action-dark); h3 { color: palette(white); } }
}

.c-settings-header h3 {
    @include textRg();
    font-family: $font-text-medium;
}

.c-settings-form {
    border: 1px solid palette(black-10);
    padding: space(1) space(1) space(2);
}

.c-settings-header + form .c-settings-form {
    border-top: 0;
    margin-top: -1px;
}

.c-settings-note {
    @include textXs();
    color: palette(black-40);
    margin-top: space(0.25);
}



// Status label
// --------------------------------------------------------------------------

@mixin statusLabelTheme(
    $color
) {
    @include on-event(true) {
        background-color: $color;
        //border-color: $color;
        //color: $color;
    }
}

.c-settings-status {
    @include textXsBold();
    border-radius: $labelRadius;
    //border-style: solid;
    //border-width: 1px;
    color: palette(white);
    display: inline-block;
    height: 100%;
    margin-left: space(1);
    margin-top: 3px;
    padding: 4px 8px;
    text-transform: uppercase;
    
    &.is-published { @include statusLabelTheme( palette(highlight-action) ); }
    &.is-draft     { @include statusLabelTheme( palette(highlight-action-dark) ); }
}


// Status save button
// --------------------------------------------------------------------------

@mixin statusButtonTheme(
    $color
) {
    @include on-event(true) {
        background-color: $color;
        border-color: $color;
    }
}

.c-settings-button {
    float: right;
    margin-top: space(1);
    padding: 0 space(1.5);
    
    &--draft   { @include statusButtonTheme( palette(highlight-action-dark) ); }
    &--archive { @include statusButtonTheme( palette(black-40) ); }
    //&--archive { @include on-event(true) { background-color: palette(black-20); } }
}

.c-settings-button + .c-settings-button {
    margin-right: space(0.5);
}
