

// --------------------------------------------------------------------------
// 	COMPONENT: MEMBER PROFILE
// --------------------------------------------------------------------------



// Hero block
// --------------------------------------------------------------------------

.c-registryHero {
}

.c-registryHero-details {
	@include container(false);
	flex-basis: 100%;
	margin-bottom: space(2);
}

.c-registryHero-details img {
	border-radius: 50%;
	height: 140px;
	margin-bottom: space(0.75);
	width: 140px;
}

.c-registryHero-details h1 {
	@include display();
	margin-bottom: space(0.5);
	text-transform: capitalize;
}

.c-registryHero-details p {
	@include textRg();
	margin-bottom: space(0.25);
}

.c-registryHero-details p span {
	color: palette('black-40');
	margin: 0 space(0.25);
}

.c-registryHero-details h1,
.c-registryHero-details p {
	color: white;
}

.c-registryHero-details hr {
	margin: space(0.75) auto;
	opacity: 0.5;
	
	@include media-breakpoint-up(lg) {
		max-width: 25%;
	}
}

.c-registryHero-details--item {
	@include textRg();
	color: white;
	//text-transform: capitalize;
}

.c-registryHero-details--item + .c-registryHero-details--item {
	margin-top: space(1/6);
}



// Registry give block
// --------------------------------------------------------------------------

.c-registryGiveFormWrapper {
	background-color: palette('black-5');
	border-bottom: 1px solid palette('black-10');
	
	&:not(:last-child) { 
		//padding-bottom: space(4.5); 
	}
}

.c-registryGiveForm {
	@include displayRg();
	display: flex;
	
	> * { flex-shrink: 1; }
}

.c-registryGiveForm-item {
	display: inline-block;
	padding: space(1.5) 0;
	position: relative;
	line-height: 1.35;
	
	&:not(:last-child) {
		margin-right: space(1);
	}
	
	&--action {
		margin-left: auto;
		padding: 0;
	}
}

.c-registryGiveForm-select {
	@include displayRg();
	border-color: palette(highlight-action);
	color: palette(highlight-action);
	padding: 0.5rem 1rem;
}

.c-registryGiveForm-button {
	height: 100%;
	margin-left: auto;
	width: 100%;
	
	@include on-event(true) {
		background-color: palette(highlight-action);
		border-color: palette(highlight-action);
		color: palette(white);
	}
	
	&:after {
		margin-left: $arrowMargin * 2;
	}
}

.c-registryGiveForm-note {
	@include textXs();
	bottom: space(0.5);
	color: palette(highlight-action);
	left: space(0.5);
	position: absolute;
	right: space(0.5);
	//text-align: center;
	
	@include on-event(true) {
		text-decoration: none;
	}
	
	@include when-inside(".c-registryGiveForm-item--action") {
		color: rgba( palette(white), 0.7 );
		text-align: center;
	}
}




// Content block
// --------------------------------------------------------------------------

.c-registryContent {
	margin-top: space(3.75);
	
	&:not(:last-child) { 
		padding-bottom: space(4.5); 
	}
}

.c-registryContent-wrapper {
	margin-right: space(2);
}

.c-registryContent-headline {
	@include headlineMd();
	margin-bottom: space(0.5);
	
	&--light {
		@include headlineMdLight();
		margin-bottom: space(0.5);
	}
	
	// TODO CALLUM 170107 lazy hack for registry naming…
	span {
		text-transform: capitalize;
	}
}



// Registry photographer block
// --------------------------------------------------------------------------

.c-registryPhotographer {
	border: 1px solid palette('black-10');
	display: block;
	padding: space(0.5) space(0.5) space(0.75);
	
	@include on-event(true) {
		text-decoration: none;
	}
}

.c-registryPhotographer img {
	height: 80px;
	margin-bottom: 0.5rem;
	width: 80px;
}

.c-registryPhotographer h3 {
	@include headlineSm();
	//color: palette(text);
	text-align: center;
}

.c-registryPhotographer p {
	color: palette('black-40');
	margin: 0;
	max-width: none;
}

.c-registryPhotographer .c-profileHero-details--item {
	color: palette('black-40');
	font-family: $font-text-medium;
	margin-bottom: 0.25rem;
}
