

// --------------------------------------------------------------------------
// LAYOUT: HEADER
// --------------------------------------------------------------------------


$headerInset: space(1.5);
$headerInsetMobile: space(0.75);
//$footerColor: palette(brand-neutral);
//$footerColor: rgba( palette(brand), 0.5);
//$footerColor: palette('black-50');
//$footerColor: #89a1b0;
$footerColor: #677985;

.Nav {
    background-color: palette(white);
    border-bottom: 1px solid palette(black-10);
    position: relative;

    @include when-inside(".Footer") { 
        background-color: transparent;
        border: 0;
    }
}

.Nav-logo {
    @include o-aligner();
    margin-right: $headerInset;

    a {
        background-image: none;
        
        @include on-event(true) {
            color: palette(brand);
        }
    }
    
    @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        padding: $headerInsetMobile 0 0;
    }
}

.Nav-menu {
    @include o-aligner();
    @include listInline();
    margin: 0 0 0 auto;
    right: space(1);

    li {
        &:not(:last-child) {
			margin-right: $headerInset;
		}
    }

    li a {
        @include underlineLink(none);
        display: inline-block;
        padding: $headerInset 0;
        
        @include on-event(true) {
            color: palette(black-40);
        }
    }
    
    .is-active a {
        color: palette(text);
    }
    
    @include media-breakpoint-down(sm) {
        margin: 0;
        justify-content: flex-start;
        
        li {
            &:not(:last-child) {
    			margin-right: $headerInsetMobile;
    		}
        }

        li a {
            font-family: $font-text-medium;
            padding: $headerInsetMobile 0;
        }
    }
}




// The footer
// --------------------------------------------------------------------------

.Footer {
    background-color: palette('black-5');
    margin-top: $blockSpace * 0.9;
    padding-bottom: $headlineSpace * 0.75;
}

.Footer-feature {
    background-color: palette('brand');
    padding: space(0.5) 0;
    
    p {
        color: palette(white);
        font-family: $font-text-medium;
        text-align: center;
    }
}

.Footer .Nav-menu {
    //margin: 0;
}

.Footer-minors {
    @include textXs();
    border-top: 1px solid palette('black-20');
    color: palette('black-40');
    margin: 0;
    padding-top: 8px;
    
    @include media-breakpoint-up(sm) {
        //width: 70%;
    }
}
