

// --------------------------------------------------------------------------
//   LAYOUT: SECTION
// --------------------------------------------------------------------------


@mixin sectionSpace {
    margin: space(3) 0 0;

    @include media-breakpoint-up(sm) {
        margin: space(10) 0 0;
    };
}

.Section {
    @include sectionSpace();
}

.Section--hero {
    margin: 0;
    
    .FlexEmbed-ratio { padding-bottom: 50vh; }
    //.o-container--md { transform: translateY( -#{space(4)} ); }
    //.c-headline-block .c-headline--display,
    //.c-headline-block .c-text--lg { color: white; }
}

.Section--withFigure {
    margin: space(1) 0 0;

    @include media-breakpoint-up(sm) {
        margin: space(2) 0 0;
    };
}
