

// --------------------------------------------------------------------------
//   TEXT TYPOGRAPHY
// --------------------------------------------------------------------------


// Define base text styles
// --------------------------------------------------------------------------

@mixin TextRg() {
    @include TypeReset();
    color: color(text, charcoal);
    font-family: $font-sans-regular;
    font-size: map-fetch($size, font, textRg, xs);
    line-height: $base-line-height-unit;

    @include respond-to(xs) {
        font-size: map-fetch($size, font, textRg, base);
    }
}

@mixin TextSm(
    $lineHeight: $base-line-height-unit,
    $margin: 0 0 space(1.5)
) {
    color: color(text, charcoal);
    font-family: $font-sans-regular;
    font-size: map-fetch($size, font, textSm, xs);
    letter-spacing: 0;
    line-height: $lineHeight;
    margin: $margin;

    @include respond-to(sm) {
        font-size: map-fetch($size, font, textSm, base);
    }
}


// Apply base text styles
// --------------------------------------------------------------------------

// h1, h2, h3, h4, h5, h6,
// blockquote, figure
// li
ul, ol, dl,
p, address,
table, time,
fieldset, figcaption,
pre,
.TextRg {
    @include TextRg();
}

// .TextXs       { @include TextSm(); }
.TextSm       { @include TextSm(); }

em,
.u-textEm {
    @include TypeReset();
    font-family: $font-sans-regular-i;
}

b,
strong,
.u-textBold {
    @include TypeReset();
    font-family: $font-sans-medium;
}


// Lists
// --------------------------------------------------------------------------

ul {
    list-style-type: disc;
    margin-left: map-fetch($size, list-inset, margin);
    padding-left: map-fetch($size, list-inset, padding);
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0;

    &:not(:last-child) {
        margin-right: space(0.5);
    }
}

// No inset spacing

@mixin List--clean() {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.List--clean { @include List--clean(); }

// Inline list.
// Apply to the ul/ol tag, but it's setup for use on any div.

@mixin List--inline() {
    @include List--clean();

    li,
    div {
        display: inline-block;
        &:not(:last-child) {
            margin-right: space(0.5);
        }
    }
}

.List--inline { @include List--inline(); }


// Blockquote & lede
// --------------------------------------------------------------------------

blockquote,
.Blockquote {
    color: color(text, medium);
    font-family: $font-sans-book;
    // font-family: $font-sans-comp-bk;
    // font-family: $font-sans-cond-bk-i;
    font-size: map-fetch($size, font, headerMd, xs);
    margin-bottom: space(0.75);

    @include respond-to(sm) {
        font-size: map-fetch($size, font, headerMd, base);
        margin-bottom: space(1);
    }
}

.TextLede {
    @include TextRg();
    color: color(text, brand) !important;
    font-family: $font-sans-regular;
    font-size: map-fetch($size, font, headerRg, xs);
    line-height: 1.45;
    // margin-bottom: space(1);

    @include respond-to(sm) {
        font-family: $font-sans-bold;
        font-size: map-fetch($size, font, headerRg, base);
        line-height: $base-line-height-unit;
    }
}


// Base spacer rules
// --------------------------------------------------------------------------

// quick spacer rules

// p + h2 { margin-top: $space * 1.75; }

.Container p,
.Container li,
.Container ol {
    &:last-child,
    &:last-child a {
        margin-bottom: 0;
    }
}
