<div class="Affix" {% if type != 'post' %}data-spy="affix" data-offset-top="300" {% if home? %}data-offset-bottom="2200"{% endif %}{% endif %}>
    <div class="SectionNav" id="scrollspy">

        {% assign news    = site.pages.news %}
        {% assign events  = site.pages.news.taxonomy.tags.events %}
        {% assign focus   = site.pages.news.taxonomy.tags.focus-magazine %}
        {% assign careers = site.pages.news.taxonomy.tags.careers %}

        <div class="SectionNav-title">
            {% if post.meta.nav == "careers" %}
                <a href="{{careers.url}}"><i class="Arrow-left"></i>View all {{ careers.title | capitalize }}</a>
            {% elsif post.meta.nav == "focus" %}
                <a href="{{focus.url}}"><i class="Arrow-left"></i>View all {{ focus.title | capitalize | append:'s' }}</a>
            {% elsif post.meta.nav == "events" %}
                <a href="{{events.url}}"><i class="Arrow-left"></i>View all {{ events.title | capitalize }}</a>

            {% elsif url == site.pages.news.taxonomy %}
                <a href="{{news.url}}"><i class="Arrow-left"></i>I AM GOD {{ news.slug | capitalize }}</a>

            {% elsif type == 'post' %}
                <a href="{{news.url}}"><i class="Arrow-left"></i>Back to {{ news.slug | capitalize }}</a>
            {% else %}
                {{ news.slug | capitalize }}
            {% endif %}
        </div>

        {% if home? %}
            <ul class="SectionNav-list">
                <li><a href="{{news.url}}">All {{ news.slug | capitalize }}</a></li>
            </ul>

        {% elsif url == news.url %}
            {% for set in taxonomy %}
                <ul class="SectionNav-list">
                {% for tag in set %}
                    <li><a href="{{tag.url}}">{{tag.value | capitalize }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}

        {% elsif url == events.url %}
            <ul class="SectionNav-list">
                <li><a href="{{events.url}}">{{events.value | capitalize }}</a></li>
            </ul>

        {% elsif url == focus.url %}
            <ul class="SectionNav-list">
                <li><a href="{{focus.url}}">{{focus.value | capitalize }}</a></li>
            </ul>

        {% elsif url == careers.url %}
            <ul class="SectionNav-list">
                <li><a href="{{careers.url}}">{{careers.value | capitalize }}</a></li>
            </ul>

        {% endif %}

        {% if type != 'post' %}
            <a class="SectionNav-link" href="#top">Back to top</a>
        {% endif %}

    </div>

    <div class="News-meta">
        <div class="SectionNav-title u-marginL0">We love your stories.</div>
        Got one? Email it to: <a href="mailto:{{site.meta.email-newcontent}}">{{site.meta.email-newcontent}}</a>
    </div>
</div>
