<a class="Button {% if home? %}Button--rev{% endif %}" href="mailto:{{ site.meta.email }}?subject=Appointment booking&body=Hi Michael,%0D%0A%0D%0AI have a need / a challenge / a new idea / other (______) that I'd like to talk to you about.%0D%0A%0D%0AHow do we proceed from here?%0D%0A%0D%0AKind regards, Your Name">
	<svg class="Icon Icon--md Icon--leftSm Icon--buttonAlign u-colorWhite">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-talk"></use>
	</svg>
	Book a free meeting today
</a>
