
{% assign bridging            = site.info-for.bridging %}
{% assign business            = site.pages.info-for.pages.business %}
{% assign cashout             = site.pages.info-for.pages.cash-out %}
{% assign construction        = site.pages.info-for.pages.construction %}
{% assign fhbuyers            = site.pages.info-for.pages.first-home-buyers %}
{% assign investment          = site.pages.info-for.pages.investment %}
{% assign refinance           = site.pages.info-for.pages.refinance %}
{% assign somethingdiff       = site.pages.info-for.pages.something-different %}
{% assign pathway-invitation  = "Follow one of these links to find out all you need to know." %}

<div class="Container Container--lg">
    <div class="Grid Grid--withGutter Grid--alignCenter">
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == fhbuyers.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="1" href="{{ fhbuyers.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ fhbuyers.slug }}.jpg')">
                    <h2 class="Card-type">{{ fhbuyers.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I want to get my first loan.</h3>
            </div>
        </div>
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == bridging.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="2" href="{{ bridging.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ bridging.slug }}.jpg')">
                    <h2 class="Card-type">{{ bridging.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I want to upgrade with a loan.</h3>
            </div>
        </div>
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == refinance.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="3" href="{{ refinance.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ refinance.slug }}.jpg')">
                    <h2 class="Card-type">{{ refinance.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I want to upgrade to a better loan.</h3>
            </div>
        </div>
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == investment.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="4" href="{{ investment.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ investment.slug }}.jpg')">
                    <h2 class="Card-type">{{ investment.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I want to get a second loan.</h3>
            </div>
        </div>
    </div>
</div>

<div class="Fold">

    <!-- First home buyers -->
    <div class="Info Fold-target" data-content-fold="1">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ fhbuyers.title | capitalize }}</span></h1>
                <p>Congratulations, you’ve decided to make the leap and buy your first home! But where do you start? At AFP Cairns, we’ll guide you through the process with a straight-forward approach. {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ fhbuyers.url }}">{{ fhbuyers.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ fhbuyers.url }}">{{ fhbuyers.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ fhbuyers.url }}">{{ fhbuyers.meta.menu-3 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ fhbuyers.url }}">{{ fhbuyers.meta.menu-4 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>Get in touch to find how much deposit you’ll need, requirements for employment and income, available government grants, whether to go fixed or variable rates, and how to proceed in the home buying search.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ fhbuyers.url }}">Or learn more about first home buying</a>
                </p>
            </div>

        </div>
    </div>

    <!-- Bridging -->
    <div class="Info Fold-target" data-content-fold="2">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ bridging.title | capitalize }}</span></h1>
                <p>The traditional way to upgrade is to sell the old home first, move into a rental, and hope the dream home is still available months later. Bridging finance allows the purchase of a new home now before selling the old one and owners only need to move house once. {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ bridging.url }}">{{ bridging.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ bridging.url }}">{{ bridging.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ bridging.url }}">{{ bridging.meta.menu-3 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ bridging.url }}">{{ bridging.meta.menu-4 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>There are many advantages to using a bridging loan to upgrade but there are some risks and borrowers must have equity in the existing property to make it happen. Get in touch to find how it works, how expensive it is, what the risks are and how you qualify.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ bridging.url }}">Or learn more about {{ bridging.title | downcase }}</a>
                </p>
            </div>

        </div>
    </div>

    <!-- Refinance -->
    <div class="Info Fold-target" data-content-fold="3">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ refinance.title | capitalize }}</span></h1>
                <p>Unfortunately thousands are stuck with expensive and cumbersome loans because they are afraid of changing is too hard or simply because they don’t want hurt the feelings of their bank manager. But it's quite easy to find your way out. {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ refinance.url }}">{{ refinance.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ refinance.url }}">{{ refinance.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ refinance.url }}">{{ refinance.meta.menu-3 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ refinance.url }}">{{ refinance.meta.menu-4 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>Get in touch to find what you’ll need to change, what are the risks and expenses, and to know just how easy it can be.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ refinance.url }}">Or learn more about {{ refinance.title | downcase }}</a>
                </p>
            </div>

        </div>
    </div>

    <!-- Investment -->
    <div class="Info Fold-target" data-content-fold="4">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ investment.title | capitalize }}</span></h1>
                <p>So your accountant has said to borrow money against your house to invest but you have no idea where to begin. {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ investment.url }}">{{ investment.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ investment.url }}">{{ investment.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ investment.url }}">{{ investment.meta.menu-3 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ investment.url }}">{{ investment.meta.menu-4 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>Get in touch to find out about what's good and bad debt, how to recycle your debt, whether to use equity, and whether or not to principaland interest or interest only.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ investment.url }}">Or learn more about {{ investment.title | downcase }}</a>
                </p>
            </div>

        </div>
    </div>
</div>




<div class="Container Container--lg">
    <div class="Grid Grid--withGutter Grid--alignCenter u-xs-marginT">
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == business.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="5" href="{{ business.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ business.slug }}.jpg')">
                    <h2 class="Card-type">{{ business.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I want to get a loan for my business.</h3>
            </div>
        </div>
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == construction.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="6" href="{{ construction.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ construction.slug }}.jpg')">
                    <h2 class="Card-type">{{ construction.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I want a loan to build with.</h3>
            </div>
        </div>
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == cashout.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="7" href="{{ cashout.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ cashout.slug }}.jpg')">
                    <h2 class="Card-type">{{ cashout.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I want to increase a loan.</h3>
            </div>
        </div>
        <div class="Grid-cell u-size1of2 u-sm-size1of4 {% if slug == somethingdiff.slug %}u-hide{% endif %}">
            <div class="Card Fold-toggle" data-toggle-fold="8" href="{{ somethingdiff.url }}">
                <div class="Card-image with-headline" style="background-image: url('/public/images/card-{{ somethingdiff.slug }}.jpg')">
                    <h2 class="Card-type">{{ somethingdiff.title | capitalize }}</h2>
                </div>
                <h3 class="Card-title">I have an unusual loan…</h3>
            </div>
        </div>
    </div>
</div>

<div class="Fold">

    <!-- Business -->
    <div class="Info Fold-target" data-content-fold="5">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ business.title | capitalize }}</span></h1>
                <p>Starting a new business, purchasing an established one or just expanding an existing business, there are many different financing options available. {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ business.url }}">{{ business.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ business.url }}">{{ business.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ business.url }}">{{ business.meta.menu-3 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ business.url }}">{{ business.meta.menu-4 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>Get in touch to find how much deposit you’ll need, requirements for employment and income, available government grants, whether to go fixed or variable rates, and how to proceed in the home buying search.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ business.url }}">Or learn more about {{ business.title | downcase }}</a>
                </p>
            </div>

        </div>
    </div>

    <!-- Construction -->
    <div class="Info Fold-target" data-content-fold="6">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ construction.title | capitalize }}</span></h1>
                <p>Building a home can be an extremely rewarding experience but it can also be a time consuming and frustrating task. Dealing with builders, contractors, designers, banks, the list goes on and on, but the most common question people have is "how do you pay for it all?". {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ construction.url }}">{{ construction.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ construction.url }}">{{ construction.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ construction.url }}">{{ construction.meta.menu-3 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ construction.url }}">{{ construction.meta.menu-4 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>There are many advantages to using a bridging loan to upgrade but there are some risks and borrowers must have equity in the existing property to make it happen. Get in touch to find how it works, how expensive it is, what the risks are and how you qualify.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ construction.url }}">Or learn more about about {{ construction.title | downcase }}</a>
                </p>
            </div>

        </div>
    </div>

    <!-- Cash-out -->
    <div class="Info Fold-target" data-content-fold="7">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ cashout.title | capitalize }}</span></h1>
                <p>Accessing equity in the home is a great way to get extra cash to help with those one off or unusual expenses that pop up from time to time. Instead of whipping out the credit card or getting a personal loan, other finance options should be considered if you own property. {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter Grid--alignCenter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ cashout.url }}">{{ cashout.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ cashout.url }}">{{ cashout.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ cashout.url }}">{{ cashout.meta.menu-3 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>Get in touch to find what you’ll need to change, what are the risks and expenses, and to know just how easy it can be.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ cashout.url }}">Or learn more about {{ cashout.title | downcase }}</a>
                </p>
            </div>

        </div>
    </div>

    <!-- Something different -->
    <div class="Info Fold-target" data-content-fold="8">
        <div class="Container">
            <div class="Grid-cell--center u-sm-size9of12 u-posRelative">

                {% include close-fold-btn.html %}

                <h1 class="Headline Headline--primary u-marginB"><span>{{ somethingdiff.title | capitalize }}</span></h1>
                <p>There are many reasons why people do not meet traditional lending criteria and sadly many people miss out on their dream home because they believe the bank said no, so there are no other options. {{ pathway-invitation }}</p>
                <div class="Info-menu">
                    <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ somethingdiff.url }}">{{ somethingdiff.meta.menu-1 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ somethingdiff.url }}">{{ somethingdiff.meta.menu-2 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ somethingdiff.url }}">{{ somethingdiff.meta.menu-3 }}</a>
                        </div>
                        <div class="Grid-cell u-sm-size1of4 u-flex">
                            <a class="Info-link" href="{{ somethingdiff.url }}">{{ somethingdiff.meta.menu-4 }}</a>
                        </div>
                    </div>
                </div>
                <!-- <p>Get in touch to find out about what's good and bad debt, how to recycle your debt, whether to use equity, and whether or not to principaland interest or interest only.</p> -->

                {% include cards-book-btn.html %}

                <p class="u-textCenter u-marginTD1">
                    <a class="TextSm u-colorTextMedium Arrow-right" href="{{ somethingdiff.url }}">Or learn more about different ways to obtain financing</a>
                </p>
            </div>

        </div>
    </div>
</div>
