<section class="Section">
	<div class="o-container">
		<!-- <h1 class="Headline Headline--primary u-mxs-marginB15 u-marginB25"> -->
		<div class="c-headline-block">
		    <!-- <h1 class="c-headline--display">Your loan options</h1> -->
		    <h1 class="c-headline--display">Learn about loans</h1>
		    <!-- <p class="c-text--lg">
		        {% if page.url == '/' %}
                    <span>What do you want to do with your loan?</span>
                {% else %}
                    <span>Learn about other ways to get financing</span>
                {% endif %}
		    </p> -->
		</div>
        
	</div>

	{% include cards.html %}

</section>
