<section class="Section">

	<div class="Container">
		<h1 class="Headline Headline--secondary"><span>Need help? Talk to Michael</span></h1>
	</div>

	<div class="Container">

		<div class="Grid Grid--withGutter Grid--alignCenter">
			<div class="Grid-cell u-size1of2 u-xs-size3of12 u-xs-before3of12">
				<figure class="Figure--stamp">
					<img src="/public/images/michael-garland-sm.png" alt="Michael Garland">
				</figure>
			</div>

			<div class="Grid-cell u-size1of2 u-xs-size3of12 u-xs-after3of12">
				<a class="Contact u-linkInvisible" href="tel:{{ site.phone }}">
					<div class="Contact-action u-marginBD3">
						<svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-call"></use>
						</svg>
						Call Michael<br>
						<span class="Contact-detail">{{ site.phone }}</span>
					</div>
				</a>
				<a class="Contact u-linkInvisible" href="mailto:{{ site.email }}">
					<div class="Contact-action u-marginBD3">
						<svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-email"></use>
						</svg>
						Email Michael<br>
						<span class="Contact-detail">{{ site.email }}</span>
					</div>
				</a>
				<a class="Contact u-linkInvisible" href="https://au.linkedin.com/pub/michael-garland/26/a/88b">
					<div class="Contact-action">
						<svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-about"></use>
						</svg>
						About Michael<br>
						<span class="Contact-detail">Read more about Michael’s history and experience</span>
					</div>
				</a>
			</div>
		</div>
		<div class="u-textCenter u-marginT u-xs-marginT2 u-mxs-marginB">
			{% include btn-email.html %}
		</div>
	</div>
</section>
