<div class="c-highlightBox">
    <!-- <h1 class="c-headline--md">Need help? Talk to Michael</h1> -->
    <div class="Grid Grid--withGutter Grid--alignCenter">
        <div class="Grid-cell u-sizeFull u-sm-size5of12 o-aligner">
            <figure class="o-figure o-figure--stamp o-aligner-item">
                <img src="/build/images/michael-garland-sm.png" alt="Michael Garland">
            </figure>
        </div>
    
        <div class="Grid-cell u-sizeFull u-sm-size5of12">
            <div class="o-aligner">
                <div class="o-aligner-item">
                    <a class="Contact u-linkInvisible" href="tel:{{ site.phone }}">
                        <div class="Contact-action u-marginBD3">
                            <svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-call"></use>
                            </svg>
                            Call Michael<br>
                            <span class="Contact-detail">{{ site.phone }}</span>
                        </div>
                    </a>
                    <a class="Contact u-linkInvisible" href="mailto:{{ site.email }}">
                        <div class="Contact-action u-marginBD3">
                            <svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-email"></use>
                            </svg>
                            Email Michael<br>
                            <span class="Contact-detail">{{ site.email }}</span>
                        </div>
                    </a>
                    <a class="Contact u-linkInvisible" href="{{ site.social.links[1] }}">
                        <div class="Contact-action u-marginBD2">
                            <svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-about"></use>
                            </svg>
                            About Michael<br>
                            <span class="Contact-detail">Read his history and experience</span>
                        </div>
                    </a>
                    <a class="Button c-button u-mxs-fullWidth" href="mailto:{{ site.email }}">Free first hour</a>
                </div>
            </div>
        </div>
    
    </div>
</div>
