
<footer class="Footer">
    
    {% if page.url == '/' %}
        <div class="Footer-feature">
            <div class="o-container">
                <p><a class="o-arrowEast" href="{{ site.insurance-link }}">After home & contents insurance? Get a quote</a></p>
            </div>
        </div>
        <div class="Footer-feature" style="background-color:rgba(16,150,239,0.7)">
            <div class="o-container">
                <p><a class="o-arrowEast" href="/send-your-bank-statements-the-easy-way">Send us your bank statements the easy way</a></p>
            </div>
        </div>
    {% endif %}
    
    {% include nav.html %}
    
    <div class="o-container">
        <p class="Footer-minors">
            © {{ site.time | date: '%Y' }} {{ site.title }}. {{ site.accreditation }} &nbsp;
            <span class="u-smDown-lineBreak">
                <a href="/privacy">Privacy</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="/disclaimer">Disclaimer</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="https://patternworks.com.au">Site by Patternworks</a>
            </span>
        </p>
    </div>

</footer>
