
<footer class="Footer">
    
    {% if page.url == '/' %}
        <div class="Footer-feature">
            <div class="o-container">
                <p><a class="o-arrowEast" href="{{ site.insurance-link }}">After home & contents insurance? Get a quote</a></p>
            </div>
        </div>
    {% endif %}
	
	{% include nav.html %}
	
	<div class="o-container">
	    <p class="Footer-minors">
            © {{ site.time | date: '%Y' }} {{ site.title }}. {{ site.accreditation }} &nbsp;
            <a href="/privacy">Privacy</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="/disclaimer">Disclaimer</a>
        </p>
	</div>

</footer>
