<header class="Header" role="banner">
    <div class="Container">
        <!-- <nav class="Header-nav">
            <div class="Header-logo">
                <a href="/"><img src="/build/images/sprite/apf-logo.svg" alt="Australian Property Finance logo"></a>
            </div>
            <ul class="Header-menu">
                <li><a href="/why-engage-apf-cairns">Why engage APF Cairns?</a></li>
            </ul>
        </nav> -->

        <section class="Header-intro">
            <div class="Header-info">
                <div class="Header-logo">
                    <a href="/">
                        <svg height="66" version="1.1" viewBox="0 0 200 66" width="200" class="o-icon">
                            {% include ic-logo.html %}
                        </svg>
                    </a>
                </div>
                <h1 class="Headline Headline--doubleLine u-marginBD1 u-textLeft" style="line-height:1.15;"><span>Real Advice for Real People.&nbsp;&nbsp;</span> Michael Garland, Cairns.</h1>
                <div class="Grid u-xs-flex">
                    <div class="Grid-cell u-size4of12">
                        <a class="Contact Contact--primary Media u-linkInvisible" href="tel:+610-422-830-333">
                            <svg class="Icon Icon--md Icon--left Icon--mediaAlign">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-call"></use>
                            </svg>
                            <div class="Contact-action Media-body">
                                Call Michael<br>
                                <span class="Contact-detail">{{ site.phone }}</span>
                            </div>
                        </a>
                    </div>

                    <div class="Grid-cell u-size7of12">
                        <a class="Contact Contact--primary Media u-linkInvisible" href="mailto:{{ site.email }}">
                            <svg class="Icon Icon--md Icon--left Icon--mediaAlign">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-email"></use>
                            </svg>
                            <div class="Contact-action Media-body">
                                Email Michael<br>
                                <span class="Contact-detail">{{ site.email }}</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <figure class="Header-portrait">
                <img src="/build/images/michael-garland.png" alt="Michael Garland">
            </figure>

        </section>
    </div>
</header>

{% if home? %}
<section class="Header-byline u-sm-hide">
    <div class="Container">

        <div class="Grid Grid--withGutter ">
            <div class="Grid-cell u-ip6-size5of12">
                <a class="Contact u-linkInvisible" href="tel:+610-422-830-333">
                    <div class="Contact-action u-colorWhite u-textCenter u-ip6-textLeft">
                        <svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-call"></use>
                        </svg>
                        Call Michael<br>
                        <span class="Contact-detail u-colorWhite">{{ site.phone }}</span>
                    </div>
                </a>
            </div>
            <div class="Grid-cell u-ip6-size7of12 u-marginTD2 u-ip6-marginT0">
                <a class="Contact u-linkInvisible" href="mailto:{{ site.email }}">
                    <div class="Contact-action u-colorWhite u-textCenter u-ip6-textLeft">
                        <svg class="Icon Icon--md Icon--leftSm Icon--textAlign">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-email"></use>
                        </svg>
                        Email Michael<br>
                        <span class="Contact-detail u-colorWhite">{{ site.email }}</span>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>
{% endif %}
