<header class="Header " role="banner">
    <div class="o-container">
        <div class="u-flex">
            
            <div class="Header3-logo">
                <a href="/">
                    <svg class="o-icon" height="42" version="1.1" viewBox="0 0 200 66" width="120">
                        {% include ic-logo.html %}
                    </svg>
                </a>
            </div>
            <ul class="Header3-nav u-flexExpandLeft">
                <!-- <li><a href="/">Home</a></li> -->
                <!-- <li><a href="/why-choose-lendfirst">Why choose LendFirst?</a></li>
                <li><a href="/info-for">Loan education</a></li>
                <li><a href="/blog">Home Loan Tips</a></li>
                <li><a href="tel:{{ site.phone }}">Call {{ site.phone }}</a></li> -->
                <li><a href="/why-choose-lendfirst">About</a></li>
                <li><a href="/info-for">Loan options</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            
        </div>
    </div>
</header>
