{% comment %}
<p class="c-text--sm u-colorBlack40 u-textCenter u-spaceT">We respect your privacy. Your details won't be shared.</p>
{% endcomment %}

{% assign formAction = "//lendfirst.us13.list-manage.com/subscribe/post?u=a8079692d4295a9cebc10d9d3&amp;id=7c91b87c92" %}
{% assign formBotName = "b_a8079692d4295a9cebc10d9d3_7c91b87c92" %}

<div class="c-block--newsletter" id="mc_embed_signup">
    <form action="{{ formAction }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate u-flex u-flexJustifyCenter" target="_blank" novalidate>
        
        <!-- <label for="mce-EMAIL">Add your email</label> -->
        <input class="form-control required email" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Add your email" required>
        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ formBotName }}" tabindex="-1" value=""/></div>
        <input class="Button c-button c-button--rev" id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe">
        <!-- <div class="form-group"></div> -->
        
    </form>
</div>
