<a class="Post {% if home? %}Post--glow u-well--lg u-bgNeutral u-padding2{% endif %}" href="{{ post.url }}">
    <div class="Post-wrapper">

        {% if post.meta.hero == 'true' %}
            <figure class="Post-image">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content CoverImage" style="background-image: url('{{ post.assets.first }}')"></div>
                </div>
            </figure>
        {% endif %}

        {% if home? %}
            <h1 class="Post-title u-colorBrandAlt u-textCenter">Blog</h1>
            <h2 class="Headline Headline--highlight u-weightBook u-marginB"><span class="u-bgNeutral">{{ post.title }}</span></h2>
        {% else %}
            <h1 class="Post-title {% if home? %}u-colorBrandAlt u-textCenter{% endif %}">{{ post.title }}</h1>
        {% endif %}

        {% if type == 'post' %}
            {{ post.body }}
        {% else %}
            {{ post.body | truncatewords: 32 }}
            <span class="u-marginLD3 u-linkBuriedTarget Arrow-right">Read more</span>
        {% endif %}

    </div>
</a>
