{% assign image-path = '/build/images/' %}

<article class="Post u-paddingT u-xs-paddingT25">

	<div class="Container">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-xs-size4of12 u-xs-after1of12 u-paddingR u-md-display">
				<h1 class="Headline--super">{{ post.title }}</h1>
				<p class="TextSm u-textBold u-colorMedium u-marginT2 u-marginBD2">Share this post:</p>
				{% include 'includes/share' %}
			</div>

			<div class="Grid-cell u-xs-size7of12 u-alignBlockDown">
				{{ post.body }}
                <p class="TextSm u-textBold u-colorMedium u-marginT2 u-marginBD2">
                    <a class="Arrow-right" href="/blog">View all posts</a>
                </p>
			</div>
		</div>
		<div class="DivRule--light u-marginT25"></div>

		{% include 'includes/newsletter-block' %}
		<!-- {% include 'includes/path-cta' %} -->

	</div>

</article>
