{% comment %}
	See: http://www.ericmobley.net/social-media-share-buttons-impact-on-performance/
	Also, fb could be: href="https://www.facebook.com/dialog/share?app_id=APP_ID&display=popup&href={{ permalink }}&redirect_uri={{ site.permalink }}
	Register w/ fb: https://www.facebook.com/login.php?next=https%3A%2F%2Fdevelopers.facebook.com%2Fapps
	more refs: https://developers.facebook.com/docs/javascript/quickstart/v2.5
{% endcomment %}

<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}">
    <svg class="o-icon o-icon--xl">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-facebook-stroke"></use>
    </svg>
</a>

<a href="mailto:?subject=Check out {{ page.title }} at {{ site.title }}&body={{ page.excerpt | strip_html }} …read it all here: {{ page.url | prepend: site.url }}" target="_blank">
    <svg class="o-icon o-icon--xl">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-email-stroke"></use>
    </svg>
</a>
