

// --------------------------------------------------------------------------
//	FIGURE OBJECT
// --------------------------------------------------------------------------


.o-figure {
	display: inline-block;
	margin: 0 0 space(1);
}

.o-figure-img {
	line-height: 1;
	margin-bottom: space(0.25);
	max-width: 100%;
}
