
.u-marginNTD3 { margin-top: -#{space(1/3)}  !important; }

.u-smDown-flexOrderFirst {
    @include media-breakpoint-down(xs) {
        order: -1 !important;
    }
}

.u-hide    { display: none !important; }
.u-sm-hide { @include media-breakpoint-up(sm) { display: none !important; } }
.u-smDown-hide { @include media-breakpoint-down(sm) { display: none !important; } }

.u-posRelative { position: relative!important; }

.u-colorDark    { color: paleete(black-66) !important; }
.u-colorBlack50 { color: palette(black-50) !important; }
.u-colorBlack40 { color: palette(black-40) !important; }
.u-colorBlack20 { color: palette(black-20) !important; }
.u-colorBlack10 { color: palette(black-10) !important; }

.u-colorBrand { color: palette(brand) !important; }
.u-colorNeutralDark { color: palette(neutral-dark) !important; }

.u-colorHighlightAction     { color: palette(highlight-action) !important; }
.u-colorHighlightActionDark { color: palette(highlight-action-dark) !important; }



.u-inlineBlockWrapper > * {
    display: inline-block;
}




// quick spacers
// --------------------------------------------------------------------------


.u-blockSpaceT { margin-top: $blockSpace; }

.u-marginT0      { margin-top     : 0 !important; }


.u-space0     { margin: 0 !important; }

.u-spaceT1of4 { margin-top: space(0.25); }

.u-spaceTD2   { margin-top: space(0.5) !important; }
.u-spaceT     { margin-top: space(1) !important; }
.u-spaceT2    { margin-top: space(2) !important; }
.u-spaceT4    { margin-top: space(4) !important; }
.u-spaceB     { margin-bottom: space(1) !important; }
.u-spaceB2    { margin-bottom: space(2) !important; }
.u-spaceB3    { margin-bottom: space(3) !important; }
.u-spaceR     { margin-right: space(1) !important; }



// responsive
.u-sm-spaceLN1 { @include media-breakpoint-up(sm) { margin-left: -1px; } }
.u-sm-spaceT   { @include media-breakpoint-up(sm) { margin-top: space(1); } }
.u-sm-spaceT2  { @include media-breakpoint-up(sm) { margin-top: space(2); } }

.u-smDown-spaceR   { @include media-breakpoint-down(xs) { margin-right: space(1); } }
.u-smDown-spaceTD2 { @include media-breakpoint-down(xs) { margin-top: space(0.5); } }
.u-smDown-spaceT   { @include media-breakpoint-down(xs) { margin-top: space(1); } }
.u-smDown-spaceT2  { @include media-breakpoint-down(xs) { margin-top: space(2); } }

.u-smDown-blockR--3by4 { @include media-breakpoint-down(xs) { margin-right: $blockSpace * 0.75; } }
.u-smDown-blockT--3by4 { @include media-breakpoint-down(xs) { margin-top: $blockSpace * 0.75; } }
.u-smDown-blockB--3by4 { @include media-breakpoint-down(xs) { margin-bottom: $blockSpace * 0.75; } }

.u-sm-blockB--1by4 { margin-bottom: $blockSpace * 0.25; }
.u-sm-blockB--1by3 { margin-bottom: $blockSpace * 0.333333; }
.u-sm-blockB--1by2 { margin-bottom: $blockSpace * 0.5; }

.u-sm-blockT--1by4 { margin-top: $blockSpace * 0.25; }
.u-sm-blockT--1by3 { margin-top: $blockSpace * 0.333333; }
.u-sm-blockT--1by2 { margin-top: $blockSpace * 0.5; }
