

// --------------------------------------------------------------------------
// BOOTSTRAP AFFIX COMPONENT
// --------------------------------------------------------------------------


.affix {
    top: space(1);

    // only affix on larger viewports
    @include media-breakpoint-up(sm) {
        position: fixed;
    }
}

.affix-bottom {
    position: absolute;
}
