

// --------------------------------------------------------------------------
// BUTTONS
// 1. Align the button in an inline form block.
// --------------------------------------------------------------------------


@mixin ButtonType {
	color: color(text, white);
	font-family: $font-text-bold;
	font-size: map-fetch($size, font, textSm, xs);
	text-transform: uppercase;

	@include media-breakpoint-up(xs) {
		font-size: map-fetch($size, font, textSm, base);
	}
}

// use this to vertically align elements with a button
.ButtonLineHeight {
	line-height: size(button-height, base);
	vertical-align: bottom;
}

// theme typography alignment
$ButtonAlignment: 2px;


.Button {
	@include ButtonType();
	background-color: palette(brand);
	border: 1px solid transparent;
	border-radius: map-fetch($size, border-radius, base);
	line-height: size(button-height, base);
	padding: 0 space(0.5);
	transition: all map-fetch($transition, duration, short) map-fetch($transition, type, base);
	vertical-align: top; // 1.

	// theme typography alignment
	padding-top: $ButtonAlignment;

	@include media-breakpoint-up(xs) {
		padding: $ButtonAlignment space(1) 0;
	}

	a {
		@include underlineLink(none);
	}

	@include on-event() {
		background-color: palette(brand-dark);
		color: color(text, white);
		outline: none !important;
	}

	&.Button--highlight {
		background-color: palette(brand-alt);
		@include on-event() {
			background-color: palette(brand-alt-dark);
		}
	}

	&.Button--feature {
		background-color: palette(brand-alt-muted);
		@include on-event() {
			background-color: palette(brand-alt-muted-dark);
		}
	}

	&.Button--rev {
		border: 2px solid palette(white);
		background-color: transparent;
		@include on-event() {
			color: palette(white);
			background-color: palette(brand-dark);
		}
	}

	&.Button--highlightRev {
		border: 2px solid palette(brand-alt);
		background-color: transparent;
		color: palette(brand-alt);
		@include on-event() {
			background-color: palette(brand-alt-dark);
			border-color: palette(brand-alt-dark);
			color: palette(white);
		}
	}

	@include when-inside(".Footer-contact") {
		border: 2px solid palette(white) !important;
		background-color: transparent !important;
		@include on-event() {
			color: palette(white) !important;
			background-color: palette(brand-dark) !important;
		}
	}
}


// Secondary buttons
// --------------------------------------------------------------------------

@mixin ButtonSecondary (
	$mixin-color: palette(brand-alt),
	$mixin-hover-color: palette(brand-alt-dark)
) {
	background-color: transparent;
	border-color: currentColor;
	color: $mixin-color;
	padding-top: 2px; // theme typography alignment

	@include on-event() {
		background-color: transparent !important;
		border-color: $mixin-hover-color;
		color: $mixin-hover-color;
	}

	&.is-disabled {
		color: color(text, medium);
		border-color: currentColor;
		opacity: 0.4;
	}
}

.Button--secondary {
	@include ButtonSecondary();
}

.Button--invisible {
	@include ButtonSecondary();
	border-color: transparent;
	font-family: $font-text-regular;
	padding: 0 space(0.25);
	@include on-event() {
		border-color: palette(muted);
	}
}


// 'X' v1
// --------------------------------------------------------------------------

.Button--x {
	background: transparent !important;
	border: none;
	content: '';
	padding: space(1);
	position: absolute;
	right: -24%;
	top: -12%;

	@include media-breakpoint-up(max-xs) {
		right: -8%;
		top: -25%;
	}

	.icon-bar {
		display: block;
		width: 35px;
		height: 2px;
		border-radius: 1px;
		background-color: $color-grey-lite !important;

		&.top{
			transform: rotate(45deg);
			transform-origin: 40% 100%;
		}

		&.bottom{
			transform: rotate(-45deg);
			transform-origin: 50% 100%;
		}
	}
}




// Close button v2
// --------------------------------------------------------------------------

// Suit overrride
// TODO: move into close button only?

button:focus { outline: none; }

.Button--close {
	color: color(text, muted);
	font-family: $font-text-thin;
	font-size: map-fetch($size, font, close, xs);
	line-height: inherit;
	position: absolute;
	right: -12%;
	top: -5%;

	@include media-breakpoint-up(sm) {
		font-size: map-fetch($size, font, close, base);
	}
}

.Button--close-label {
	color: inherit;
	display: block;
	font-family: $font-text-medium;
	font-size: map-fetch($size, font, textXs, xs);
	letter-spacing: 0.02em;
	text-transform: uppercase;
	transform: translateY( space(-1) );

	@include media-breakpoint-up(xs) {
		font-size: map-fetch($size, font, textXs, base);
	}
}
