{% capture content %}

{% if type == 'post' %}
    {% assign post = current %}
    {% include 'includes/post' %}
{% else %}

<section class="Section u-paddingT u-xs-paddingT25">
    <div class="Container">
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-xs-size4of12 u-after1of12 u-xs-display">
                <div class="Affix" data-spy="affix" data-offset-top="200">
                    <h1 class="Headline--super">{{ title }}</h1>
                    {% include 'includes/blog-aside' %}
                </div>
            </div>
            <div class="Grid-cell u-xs-size7of12 u-alignBlockDown">
                {% for post in posts | limit: 12 %}
                    {% include 'includes/post-in-list' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endcapture %}

{% include 'layouts/default' %}
