---
layout: default
---

<section class="Section--header">
    <div class="o-container--md">
        <h1 class="c-display--super">
            {{ page.title }}
        </h1>
    </div>
</section>

<section class="Section">
    <div class="o-container">
        
        {% assign sortedPosts = (site.posts | sort: "date") | reverse  %}
        {% for post in site.posts %}
			{% include post-in-list.html %}
		{% endfor %}
        
    </div>
</section>

{% include newsletter-block.html %}

<section class="Section">
	<div class="o-container--md">
        <div class="c-block--headline">
            <h1 class="c-display">Need more?</h1>
        </div>
        {% include contact-michael.html %}
	</div>
</section>
