---
layout: compress
---

<html lang="{{ site.lang | default: page.lang | default: 'en' }}" {% if page.url == site.pages.thanks.url %}class="u-bgNeutral"{% endif %}>

{% include head.html %}

<body id="top" class="{{ page.title | downcase | replace: ' ', '-' }}" data-offset="300">

    {% comment %}{% endcomment %}
    {% include nav.html %}
    
    <main>
        {{ content }}
    </main>


    {% include footer.html %}
    {% include nav-touch.html %}
    {% include nav-mobile.html %}
    {% include icons.html %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    {% if page.has-javascripts %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{{ "/public/scripts/gumshoe.js" | prepend: site.baseurl }}"></script>
    {% endif %}
    <script src="{{ "/public/scripts/application.min.js" | prepend: site.baseurl }}"></script>

    {% include google-analytics.html %}

</body>
</html>
