<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}" {% if page.url == site.pages.thanks.url %}class="u-bgNeutral"{% endif %}>

{% include head.html %}

<body id="top" class="{{ page.title | downcase | replace: ' ', '-' }}" data-offset="300">

	{% comment %}{% endcomment %}
    {% include nav.html %}
    
    <main>
        {{ content }}
    </main>


	{% include footer.html %}
	{% include touch-nav.html %}
	{% include icons.html %}

    {% include google-analytics.html %}

</body>
</html>
