<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}" {% if page.url == site.pages.thanks.url %}class="u-bgNeutral"{% endif %}>

{% include head.html %}

<body id="top" class="{{ page.title | downcase | replace: ' ', '-' }}"
	data-spy="scroll" data-target="#scrollspy" data-offset="300">

	{% comment %}{% endcomment %}
    {% include header-3.html %}

	{{ content }}

	{% include footer.html %}
	{% include touch-nav.html %}
	{% include icons.html %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/build/site.concat.js"></script>
	{% include google-analytics.html %}

</body>
</html>
