---
layout: default
---

<section class="Section--header">
    <div class="o-container o-container--md">
        <h1 class="c-display--super">
            {{ page.title }}
        </h1>
        <p class="c-text--lg u-headlineSpaceB2">
            Through constant exposure to a variety of financial advice problems over many years, Michael uses his intuition to see answers to financial problems when others cannot even see the problem. If you seem to be stuck, or you’re looking at accepting terms that aren’t as good as you’d hoped, perhaps Michael can give you a new way of looking at the situation.
        </p>
    </div>
</section>

<section class="Section">
    {% include card.html %}
</section>

{% include contact-michael-block.html %}
