---
layout: default
---

<article>
    <section class="Section--header">
        <div class="o-container--md">
            <h1 class="c-display--super">
                {% if page.url contains "loan-options"  %}
                    {% if page.headline %}
                        {{ page.headline }}
                    {% else %}
                        {{ page.title }} loan options
                    {% endif %}
                {% else %}
                    {{ page.title }}
                {% endif %}
            </h1>
        </div>
    </section>
    {% if page.image or post.image %}
        <figure class="Figure">
            <div class="o-container o-container--lg o-container--fullWindowMobile">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--2by1"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter o-coverImage{% if page.url contains "blog" %} o-coverImage--alignBottom{% endif %}" 
                            {% if page.url contains "blog" %}
                                style="background-image: url('/uploads/post-{{ page.title | downcase | replace: ' ', '-' | remove: '?' }}.jpg')"
                            {% else %}
                                style="background-image: url('/uploads/{{ page.title | downcase | replace: ' ', '-' | remove: '?' }}.jpg')"
                            {% endif %}
                        ></div>
                        {% comment %}
                        {% assign image = "{{ page.title | downcase | replace: ' ', '-' }}.jpg" %}
                        {% include responsive-img-cloudinary.html %}
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </figure>
    {% endif %}
    <section class="Section--withFigure">
        <div class="o-container--md">
            <div class="Grid Grid--withGutter">
                <div class="Grid-cell u-sm-size4of12 u-sm-after1of12 u-hide u-sm-display">
                    <aside class="Aside--affixed affix-top" id="fuck" data-spy="affix" data-offset-top="{{ page.offset-top }}" data-offset-bottom="{{ page.offset-bottom }}">
                        {% if page.menu %}
                            <ul class="Aside-list nav">
                                {% for item in page.menu %}
                                    <li class="Aside-list--item">
                                        <a href="{{ page.url  | remove: '.html' | prepend: site.baseurl }}#{{ item | downcase | replace: ' ', '-' | remove:',' | remove:'&rsquo;' }}">{{ item }}?</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        
                        <div class="Aside-share u-flex">
                            {% include share.html %}
                        </div>
                        
                        <a class="Aside-list--link o-arrowNorthLeft" href="#top">Back to top</a>
                            
                    </aside>
                </div>
                <div class="Grid-cell u-sm-size8of12">
                    <div class="s-article">
    
                        {{ content | markdownify }}
    
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<section class="Section">
	<div class="o-container--md">
        <div class="c-block--headline">
            <!-- <h1 class="c-headline--md">Questions, ideas, action?</h1> -->
            <h1 class="c-display">Smart advice. Real solutions.</h1>
        </div>
        {% include contact-michael.html %}
	</div>
</section>


{% if page.url contains 'info-for' %}
	{% include cards-block.html %}
{% endif %}

{% if page.url == site.pages.why-choose-lendfirst.url or post.url %}
	{% include newsletter-block.html %}
{% endif %}
