

// --------------------------------------------------------------------------
//    TYPOGRAPHY ELEMENT SETTINGS
// --------------------------------------------------------------------------


/* uncss:ignore */
h1, h2, h3, h4, h5, h6,
blockquote,
ul, ol, li, dl, dd
p, address, blockquote,
table, time,
form, fieldset, legend,
figure, figcaption,
table, th, td, caption
pre, small,
em, b {
	@include typeReset();
}

input,
textarea,
select,
label {
	@include typeReset();
}


// Root styling to cascade thru
// Moved to body, not :root, so that it's easier to use fontfaceonload.js
// --------------------------------------------------------------------------

html {
	@include typeReset();
	color: palette(text);
	font-family: $font-text-regular;
	font-size: 100%;
	line-height: $base-line-height-unit;
	text-align: left;
	//text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


// Consistent vertical rhythm
// --------------------------------------------------------------------------

/* uncss:ignore */
// h1, h2, h3, h4, h5, h6,
ul, ol, li, dl,
blockquote, p, address,
table, time,
fieldset,
pre {
	margin-bottom: $paragraphSpace;
}
